{% extends 'ajax/layout.html' %}
{% block title %} Terms of Service {% endblock %}

{% block body %}

<div class="container my-5">
    <h1 class="text-center">Terms of Service</h1>
    <hr>
    
    <h2>1. Introduction</h2>
    <p>Welcome to Ajax Web Development and Design. By accessing and using our website, you agree to the following terms of service. Please read these terms carefully.</p>
    
    <h2>2. Use of Services</h2>
    <p>We offer web development and design services. By using our services, you agree to comply with all applicable laws and not to misuse the platform.</p>

    <h2>3. Intellectual Property</h2>
	<p>
		All content, including text, code, and design elements, is the property of Ajax Web Development and Design, unless otherwise stated. Some images and media used on this website are sourced from external websitess. These third-party images are subject to their respective licenses, and you may not reuse them without the permission of the original owners. Please contact us for more information regarding the use of any content on this site.
	</p>


    <h2>4. Limitation of Liability</h2>
    <p>We are not liable for any damages that arise from using our services. By using our website, you agree to hold us harmless for any issues that may occur.</p>

    <h2>5. Changes to the Terms</h2>
    <p>We may update these terms from time to time. Any changes will be posted on this page. Please check back regularly to stay informed.</p>

    <h2>6. Contact Us</h2>
    <p>If you have any questions about these terms, feel free to <a href="/#contact">contact us</a>.</p>
</div>


{% endblock %}